.chart-container {
  position: relative;
  width: 800px;
  margin: 20px auto;
}

.file-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.file-picker.dragging {
  background-color: #f0f0f0;
  border-color: #999;
}

.file-picker .logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.file-picker span {
  margin-bottom: 10px;
  text-align: center;
}

.file-picker input[type="file"] {
  margin-bottom: 10px;
}

.file-picker p {
  margin: 0;
  color: #666;
}

.chart-container .recharts-wrapper {
  margin-top: 20px;
}

.chart-container .recharts-legend-wrapper {
  bottom: -40px !important;
}

.chart-container .recharts-surface {
  overflow: visible;
}

.disclaimer {
  margin-top: 0px;
  font-size: 10px;
}

.test-info {
  margin-top: 50px;
}

.test-info .test-type {
  font-weight: bold;
}